/*lock screen button
*/#userlockScreen{
  position:absolute;
  top: 10px;
/*  top:0px;
  right:0px;*/
  color:white;
  font-weight:bold;

  /*circle*/
  width: 30px;
  height: 30px;
  background: red;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color:red;
}


#user_control_check{
  font-size: 15px;
  color:red;
  margin:10px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

#user_device_connection, #user_device_check_network, #user_device_check_gps, #wrong_password{
  font-size: 15px;
  color:red;
}
